{% for n in news %}
<div class="col-sm-3">
    <div class="single_features">
        <div class="feature_icon"><i class="lnr lnr-cloud"></i></div>

        <h2>{{n.hedline}}</h2>
        <p>Date-{{n.date}}</p>
        <!--<p> <img alt="#" src="n1.picture"> </p>-->
        <!--<p>{{n.text|truncatechars:15}}</p>-->
        <p>{{n.text|truncatechars:15}}</p>
        <!--<p>{{n.prikazZaindex}}</p>-->

        <a href="{% url 'NewsDetailView' n.id %}" style="color:blue">Explore more →</a><br/>
        {% if  request.user.is_staff %}
        <a href="{% url 'Createnews' %}" style="color:red">proba →</a><br/>
        {%endif%}
    </div>
</div>
  {% endfor %}
