{% load staticfiles %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
  <html lang="en">
  <head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
<body>

  <h1>forma</h1>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <form method="post" action="{% url 'newTrainingForm' %}" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset>
            <legend>New Training:</legend>
            {{ f|crispy}}
            <input class="btn btn-primary" type="submit" value="Submit">
          </fieldset>
        </form>
      </div>
    </div>
  </div>






    </body>
  </html>



</body>
