<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<div class="container profile">
  <div class="row">
    <div class="span12">
      <div class="well well-small clearfix">
        <div class="row-fluid">
          <div class="span2">
             <img src="{{reg_user.profilePicture.url}}" class="img-polaroid"/>

             <form  method="post" action="/userProfilechannges/" enctype="multipart/form-data">
               {% csrf_token %}
             <input type="file" name="pic" accept="image/*"><br />
             <input type="submit" value="Register" name="name" value="button">
           </form>

          </div>
          <div class="span4">
             <h2>{{reg_user.trainer.phone}}</h2>
            <ul class="unstyled">
              <li><i class="icon-phone"></i> 916-241-3613</li>
              <li><i class="icon-envelope"></i>{{user.email}}</li>
              <li><i class="icon-globe"></i> http://jonniespratley.me</li>
              <li><i class=""></i>{{reg_user.trainer.training_set.all.first.type}}</li>
            </ul>
          </div>
          <div class=""><h2>svi treninzi</h2>
            <ul>
              {% for training in reg_user.trainer.training_set.all %}
                <li>
                  <a href="{% url 'trainingStats' training.id %}" title="">{{ training.type }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
          <div class="span6">
          <ul class="inline stats">
               <li>
                 <span>11</span>
                 treninzi
              </li>
              <li>
                 <span>3</span>
                 ocena trenera
              </li>

          </ul>
            <div><!--/span6-->
            </div><!--/row-->
      </div>
      <a href = "{% url 'newTrainingForm' %}" >zakazivanje novog treninga</a>
   <!--Body content-->
    </div>

  </div>

            <div class="well clearfix">
            </div>
</div>
