<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>trainings</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <script type="text/javascript">


//kako napisati petlju za prolazak kroz podatke sto dobijamo u trening pogledu
//da stavimo umesto ove poruke hello world?
//{% for t in trainers %}
//{{ t.type }}
//{%endfor%}
// `${v1} ${v2} ${v1} ${v2}` = v1 + ' ' + v2 + ' ' + v1 + ' ' + v2 ---- javascript
// '{} {} {} {}'.format(v1, v2, v1, v2) ---- python3, python2
// f'{v1} {v2} {v1} {v2}' ---- python3.6

      function attachInfo(item, map) {
        console.log(item);
        const marker = new google.maps.Marker({
          position: item,
          map: map,
        });
        var infowindow =  new google.maps.InfoWindow({
          content: `${item.type}, ${item.trainer}`
        });
        google.maps.event.addListener(marker, 'mouseover', function() {
          infowindow.open(map, this);
        });
        google.maps.event.addListener(marker, 'mouseout', function() {
          infowindow.close();
        });
      }



      function initMap(position) {
        if (position) {
          var location = { lat: position.coords.latitude, lng: position.coords.longitude };
          var map = new google.maps.Map(document.getElementById("map"), {
            zoom: 15,
            center: location,
          });
          const ajaxObj = {
            type: "POST",
            url: "get_traning_locations/",
            data: {
              csrfmiddlewaretoken: '{{csrf_token}}',
              lat: position.coords.latitude,
              lng: position.coords.longitude,
            },
            success: function(data) {
              const relevant_data = JSON.parse(data);
              relevant_data.forEach(function(item) {
                attachInfo(item, map);
              });
            },
          }
          $.ajax(ajaxObj);
        }
      }

      function errorHandler(error) {
        const x = document.getElementById('error_message');
        switch(error.code) {
          case error.PERMISSION_DENIED:
            x.innerHTML = "User denied the request for Geolocation."
            break;
          case error.POSITION_UNAVAILABLE:
            x.innerHTML = "Location information is unavailable."
            break;
          case error.TIMEOUT:
            x.innerHTML = "The request to get user location timed out."
            break;
          case error.UNKNOWN_ERROR:
            x.innerHTML = "An unknown error occurred."
            break;
        }
      }

      function getLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(initMap, errorHandler);
        } else {
          alert("Geolocation is not supported by this browser.");
        }
      }
    </script>
  </head>
  <body onload="getLocation()">
<!--dobijanje kordinata od usera---->
<div id="map" style="height:500px; width: 50%;"></div>
  <div id='error_message'>
<button type="button" name="button">Prijavi se za trening</button>
  </div>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB26435dwCS6teaxf8qj6pNkAlk73vFt7s&callback=initMap" type="text/javascript"></script>
</body>
