<!DOCTYPE html>
<html>
  <head>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <meta charset="utf-8">
    <title>schedule training</title>
    {% load staticfiles %}

  </head>
  <body>

      <li>{{ training.name }}</a></li>
      <li>end:{{training.end}}</li>
      <li>duration:{{training.duration}}</li>
      <li>type:{{training.type}}</li>
      <li>type:{{training.id}}</li>
      <br /> <br />




      <!-- <form  method="post" action="/treningDelete/" enctype="multipart/form-data">
        {% csrf_token %}
      <input type="submit" value="DELETE" name="name" value="button">
    </form> -->





    <h3>prijavljeni na trening</h3>
      {% for r in scheduletraining %}
      <p>{{ r.reguser }}</p>
      {% endfor %}

prijavi se za trening
<br>

<a href="{% url 'zakazaniTrening' training.id %}"> <button type="button">sign</button></a>



  </body>
</html>
